<div style="text-align:center; width: 200px">
  <h1>
    Welcome to Slack-moji!
  </h1>
  <ng-container *ngIf="slackToken; else NotLoggedIn">
      <ng-container *ngIf="slackEmojies$ | async as slackEmojies">
          <input matInput placeholder="Search by emoji" (input)="search($event.target.value)" [formControl]="emojiControl">
          <br>
          <br>
        <ng-container *ngIf="shownEmoji.length > 0">
          <ng-container *ngFor="let emoji of shownEmoji">
            <button onclick="copyToClipBoard(emoji)">
              <img class="imageSize" src="{{emoji}}">
            </button>
          </ng-container>
        </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #NotLoggedIn>
    <button (click)="login()">Log In</button>
  </ng-template>
</div>

<router-outlet></router-outlet>
