<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to VSlack-moji!
  </h1>
  <ng-container *ngIf="slackEmojies$ | async as slackEmojies">
    <ng-container *ngIf="customEmojies$ | async as customEmojies">
      <input matInput placeholder="Search by emoji" [formControl]="emojiControl">
      <img class="imageSize" src="{{customEmojies[emojiControl.value]}}">
      <div class="imageSize">{{slackEmojies[emojiControl.value]}}</div>
    </ng-container>
  </ng-container>
</div>

<router-outlet></router-outlet>
